#main-div{
    min-height: 100vh;
    background-color: #070535;
}
#inner-div{
    padding: 7%;
    border: solid 10px #fff;
}

#date{
    color : #fff;
    font-size: 7vw;
}

#time{
    color: #fff;
    font-size: 12vw;
}